html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff;
  color: #003260;
}

#logo {
  width: 150px;
}
nav {
  background-color: #ffffff;
  overflow: hidden;
}

nav a {
  float: left;
  color: #003260;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #74F2FB;
}
nav a:first-child:hover {
  background-color: #ffffff;
}

nav a.active {
  background-color: #07CAD8;
  color: white;
}

button {
  background-color: #07CAD8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

#images {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.error-message {
  color: red;
  font-size: 18px;
}
#file-list {
  display: flex;
  flex-wrap: nowrap; /* Setzt die Flexbox-Eigenschaft, um die Elemente in einer Reihe zu behalten */
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
  /* Ändert die Breite auf 100%, um die gesamte Breite des Containers zu nutzen */
  background-color: #003260;
  overflow-x: auto; /* Zeigt einen horizontalen Scrollbalken, wenn der Inhalt zu breit wird */
}
.file-container {
  margin: 5px;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.9);
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Ändert die Ausrichtung auf vertikal */
  align-items: center; /* Zentriert die Elemente horizontal */
  justify-content: space-between;
  padding: 10px;
}
.preview {
  width: 300px;
  padding: 10px;
}
.delete-icon {
  color: rgba(255, 0, 0, 0.616);
  cursor: pointer;
}

.arrow-icon {
  cursor: pointer;
  margin: 0 5px;
}

.label {
  margin: 0px;
  text-align: center;
}

#config {
  display: flex;
  flex-wrap: wrap; /* Setzt die Flexbox-Eigenschaft, um die Elemente in einer Reihe zu behalten */
}

section {
  margin: 5px;
  width: auto;
  border-style: solid;
  display: flex;
  flex-direction: column; /* Ändert die Ausrichtung auf vertikal */
  align-items: center; /* Zentriert die Elemente horizontal */
  justify-content: space-between;
  padding: 10px;
  overflow-x: auto; /* Zeigt einen horizontalen Scrollbalken, wenn der Inhalt zu breit wird */
}
#bildschirme {
  display: flex;
  text-align: center;
}

.bildschirm-entry {
  border-style: solid;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 0 15px 0 #003260;
  background-color: #003260;
  color: white;
  border-radius: 10px;
}
#config h2 {
  display: inline-block;
}
button[onclick="updateBildschirme()"] {
  margin:0;
  font-size: 35px;
  padding: 10px 40px;
  width: 200px;
  display: inline-block;
  vertical-align:top;
}
main {
  margin: 50px;
}